body {
  background-color: #F5F5F5;
  color: black;
  font-family: 'Raleway', sans-serif;
  padding-top: 0px;
}


/* unvisited link */

a:link {
  color: white;
}

h1 {
  padding-top: 0px;
  margin: 0px;
}

#Home_button {
  background-color: #04A47A;
}

#Hardware_button {
  background-color: #1FAB9E;
}

#Software_button {
  background-color: #FAD02F;
}

#Design_button {
  background-color: #F16950;
}

#Up_button {
  background-color: #04A47A;
}

#Home_button, #Hardware_button, #Software_button, #Design_button, #Up_button {
  opacity: 1;
  border: 0;
}

#Home_button:hover, #Hardware_button:hover, #Software_button:hover, #Design_button:hover, #Up_button:hover {
  background-color: rgba(100,100,100,.3);

}

a:visited {
  color: white;
}

@include media-breakpoint-between(xs, sm) {
  .btn {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

@media screen and (orientation: landscape) {
  h1 {
    font-size: 5vh;
  }
  h3 {
    font-size: 3vh;
  }
  p {
    font-size: 2.5vh;
  }
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 5vh;
  }
  h3 {
    font-size: 3vh;
  }
  p {
    font-size: 2.5vh;
  }
  .btn {
    height: 10%;
    width: 15%;
    text-align: center;
    font-size: 2vw;
  }
}

.navbar {
  padding-bottom: 0px;
}

#lowerNav {
  padding-bottom: 0px;
  text-align: center;
}

#element {
  background-color: #202020;
  width: 100%;
  height: 10%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: .8;
  cursor: pointer;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

#center-image {
  margin: auto;
  text-align: center;
}

#map {
  height: 10% width: 90vw;
  display: block;
  margin: auto;
  text-align: center;
}
